h1 {
    text-align: center;
}
table {
    margin-left: 120px;
}
td {
    width: 55px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}
.noborder {
    border: none;
}
.color1 {
    background-color: coral;
}
.color2 {
    background-color: rgb(126, 75, 126);
}
.color3 {
    background-color: rgb(116, 71, 221);
}
.color4 {
    background-color: yellow;
}
.color5 {
    background-color: pink;
}
.color6 {
    background-color: rgb(128, 48, 48);
}
.color7 {
    background-color: green;
}.color8 {
    background-color: goldenrod;
}
.color9 {
    background-color: skyblue;
}