*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;   
   }
   
   .flex-container
   {
    display:flex; 
    /*flex-direction:column ;*/
    flex-wrap: wrap;
 
   }
body {
    margin-top: 80px;
    margin-left: 150px;
}
   
.flex-container>div {
    border: 1px solid gray ;
    margin: 10px;
    width:250px;
    height:360px;
    margin-left:60px;
    margin-top:40px;
}

.flex-container div img {
    width:250px;
}

.flex-container div p {
    margin-left: 15px;
    margin-top: 15px;
    font-family:sans-serif;
    padding-left:5px;
    padding-right:5px;
    color: gray;
}

.flex-container div h2 {
    margin-left: 20px;
    margin-top: 15px;
    font-family:sans-serif;
}

.btn {
    border: none;
    color: white;
    background-color: skyblue;
    width: 100px;
    height: 35px;
    margin-top: 15px;
    margin-left: 25px;
}

